GOOGLE_REDIRECT_URI=redirect_uri
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret
SESSION_SECRET= example : 4d0f0d7d8e3f4a3db4b4c2d1e9f7a123c7f2c5d2a9e8b6f1
JWT_SECRET_KEY= example : 9b3e8a1f6d4c2e7a5f9b1c3d8e6f0a4b2c7d1e9f5a3b8c6d
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=job_portal
DATABASE_URL=postgresql+psycopg://postgres:your_password@localhost:5432/job_portal
GEMINI_API_KEY=get it from google ai studios